aniso8601==8.0.0
Click==7.0
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Cors==3.0.9
Flask-HTTPAuth==3.3.0
Flask-RESTful==0.3.7
hdbcli==2.4.167
pyhdb==0.3.4
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.17.4
openpyxl==3.0.2
pandas==0.25.3
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
six==1.13.0
Werkzeug==0.16.0
#
# Andrew Lunde of SAP added
#
cfenv
